.countdown-container {
  /**background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/background-gold-line.png');
  background-size: 100px 100px;
  background-position: top center;
  background-repeat: no-repeat;*/
  max-width: 600px;
  margin:100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .flower {
      object-fit: cover;
      height: 130px;
  }
  .spn-save-date {
      position: relative;
      &::before {
          content: '';
          position: absolute;
          top: 40px;
          left: -100px;
          width: 80px;
          height: 2px;
          background-color: #d0a146;
      }
      &::after {
          content: '';
          position: absolute;
          top: 40px;
          right: -100px;
          width: 80px;
          height: 2px;
          background-color: #d0a146;
      }
      .save-date {
          height: 100px;
      }
  }
  .date {
      font-family: 'Antic Didone';
      font-weight: 600;
      font-style: normal;
  }
  .date-time {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      span {
          font-family: 'Antic Didone';
          font-weight: 600;
          font-style: normal;
          text-align: center;
          font-size: 50px;
          color: #0d1b21;
          height: 100px;
          width: 100px;
         /** background-image: url("https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/border.png");
         */
         background-size: 86px 80px;
          background-repeat: no-repeat;
          background-position: top center;
          p {
              font-family: 'Antic Didone';
              font-weight: 600;
              font-style: normal;
              text-align: center;
              font-size: 16px;
              color: #0d1b21;
          }
      }
  }


  @media (max-width:801px) {
    .spn-save-date {
      &::before {
          content: '';
          position: absolute;
          top: 35px;
          left: -60px;
          width: 50px;
          height: 1px;
          background-color: #d0a146;
      }
      &::after {
          content: '';
          position: absolute;
          top: 35px;
          right: -60px;
          width: 50px;
          height: 1px;
          background-color: #d0a146;
      }
      .save-date {
          height: 70px !important;
      }
    }
  }
}