.entourage-container {
  position: relative;
  background-color: #1b3b24;
  padding: 100px 0;
  overflow: hidden;
  h1 {
    &.title {
      position:unset;
      font-family: 'Antic Didone';
      font-weight: 600;
      font-style: normal;
      font-size: 3em;
      color: rgb(64 119 79);
      margin: 0 auto 50px auto;
      text-align: center;
      max-width: 900px;
    }
  }
  p {
    &.text {
      font-family: 'Avenir Light';
      color: #b3d4bc;
      max-width: 900px;
      margin: 0 auto;
      text-align: justify;
      font-size: 14px;
      margin-top: 10px;
      line-height: 1.8;
      font-weight: light;
      &:nth-child(2) {
        max-width: 600px;
        text-align: center;
        color: #fff;
        margin-top: 0;
      }
    }
  }
  .btn-download-entourage {
    color: #fff;
    font-family: 'Avenir Light';
    margin: 8px auto 10px auto;
    text-align: center;
    padding: 8px 10px;
    width: fit-content;
    display: block;
    background-color: #0e2715;
    font-size: 14px;
  }
  .invitation-container {
    background-color: #20432a;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    position: relative;
    &:nth-child(1) {
      padding: 0 50px 50px 50px;
    }
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(20%, 20%);
      border-radius: 100%;
      background: #0e2715;
      height: 110px;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      &.wedd-logo {
        height: 65px;
        width: 90px;
        box-shadow: none;
        object-fit: cover;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
      }
      height: 400px;
      object-fit: contain;
      margin: 0 auto;
      box-shadow: 5px 8px #15301c;
      margin-bottom: 10px;
      margin-right: 10px;
      &.attire {
        height: 300px;
      }
    }
    .white-flower {
      height: 300px;
      width: 300px;
      overflow: hidden;
      background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/real-flower.png');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translate(27%, 17%) rotate(317deg);
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1000;
      &.two {
        transform: translate(40%, 13%) rotate(233deg);
        left: 0;
        right: unset;
      }
    }
    .palette {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      margin-top: 50px;
      span {
        height: 200px;
        width: 130px;
        &.cream {
          background: #ecdbc9;
        }
        &.bitter {
          background: #7d936f;
        }
        &.forest-green {
          background: #56674b;
        }
        &.deep-forest-green {
          background: #1b3b24;
        }
      }
    }
  }



  @media (max-width:801px) {  
    p {
      &.text {
        padding: 0 50px;
        text-align: justify;
      }
    }
    .invitation-container {
      padding: 50px 50px 80px 50px;
      .logo {
        width: auto;
        position: relative;
        transform: translate(0%, 0%);
        background: transparent;
        .wedd-logo {
          width: auto !important;
          object-position: center;
        }
      }
      img {
        margin-right: 0px;
      }
      .white-flower {
        transform: translate(37%, 15%) rotate(255deg);
        &.two {
          transform: translate(-33%, 37%) rotate(-31deg);
          height: 280px;
        }
      }
    }
  }
}








.entourage-container {
  position: relative;
  background-color: rgb(27, 59, 36);
  .entourage-background {
      text-align: center;
      /**mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 0%, transparent 200%);*/
      .txt-entourage-title {
          width: 450px;
          height: 140px;
          margin: 0 auto;
          position: relative;
          top: 50px;
          display: block;
          background-repeat: no-repeat;
          background-size: 100% auto;
          background-image: url("https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/bridal-entourage.png");
      }
      .btn-download-entourage {
          position: sticky;
          top: 100px;
          right: 20px;
          color: #f3f1c4 !important;
          float: right;
          background: #002a1e;
          font-size: 12px;
          text-transform: capitalize;
          padding: 10px;
          text-decoration: none !important;
          z-index: 10;
          &:hover,
          &:active,
          &:focus {
              text-decoration: none !important;
          }
      }
      .guest-list-container {
          z-index: 100;
          padding: 100px 0;
          .two-list-guest {
              display: flex;
              width: 100%;
              justify-content: space-evenly;
          }
          .two-list {
              margin-bottom: 65px !important;
              display: flex;
              justify-content: space-evenly;
              .guest-title {
                  text-align: center;
                  position: absolute !important;
              }
              .guest-name {
                  margin-top: 25px;
              }
          }
          .one-list, .two-list {
              margin-bottom: 50px;
              .guest-title {
                  position:unset;
                  font-family: 'Antic Didone';
                  font-weight: 600;
                  font-style: normal;
                  font-size: 12px;
                  color: #152126 !important;
                  text-transform: uppercase;
                  margin: 0;
                  /***.img-title {
                      margin: 0 auto;
                      transform: translate(0, 20px);
                      width: 300px;
                      height: 110px;
                      object-fit: contain;
                  }*/
              }
              .guest-name {
                  font-family: 'Antic Didone';
                  font-weight: 600;
                  font-style: normal;
                  font-size: 18px;
                  color: #0d1b21 !important;
                  text-transform: capitalize;
                  word-wrap: break-word;
                  white-space:pre-wrap;
              }
          }
      }
  }
  .flower {
      height: 300px;
      width: 500px;
      overflow: hidden;
      background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/flower-top.png');
      background-size: contain;
      background-repeat: no-repeat;
      &.top-left {
          position: absolute;
          top: 0;
          left: 0;
          transform: rotate(0deg) translate(0, 0);
          z-index: 2;
      }
      &.bottom-right {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: rotate(180deg) translate(0, 0);
          z-index: 2;
      }
  }
  .ent-girl {
      height: 280px;
      width: 150px;
      background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/dress-1.png');
      background-size: contain;
      background-repeat: no-repeat;
      &.bottom-left {
          position: absolute;
          bottom: 50px;
          left: 20px;
          transform: rotate(0) translate(0, 0);
          z-index: 3;
      }
  }
  .ent-boy {
      height: 280px;
      width: 150px;
      background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/suit-1.png');
      background-size: contain;
      background-repeat: no-repeat;
      &.bottom-left {
          position: absolute;
          bottom: 50px;
          left: 130px;
          transform: rotate(0) translate(0, 0);
          z-index: 2;
      }
  }
}