@media (max-width:801px) {
    body {
        /**overflow-x: hidden !important;*/
        width: 100%;
    }
    .page-wrapper {
        /**overflow-x: hidden !important;*/
        width: 100%;
    }
    .image-container  {
        height: 90vh;
        .zoom-image {
            height: 100vh;
            width: auto;
        }
        &.-right {
            padding-right: 0;
        }
    }
    .navbar-light {
        align-items: flex-start;
        width: 100%;
        transition: 0.3s;
        &.active {
            min-height: 100vh;
        }
        .container {
            overflow: hidden;
            height: 55px;
            display: block;
            &.active{
                height: 90vh;
                transition: height 0.4s ease, opacity 0.3s ease;
            }
            .navbar-brand {
                img {
                    height: 47px;
                }
            }
            .btn-light {
                background: transparent !important;
                border: transparent !important;
                height: 50px;
                width: 50px;
                float: right;
                .closed {
                    display: none;
                }
                .hamburger {
                    display: block;
                }
                &:focus, &:active, &:target &:hover,
                .btn-light:not(:disabled):not(.disabled):active:focus {
                    background: transparent !important;
                    border: transparent !important;
                    box-shadow: 0 0 0;
                }
                &.active {
                    .hamburger {
                        display: none;
                    }
                    .closed {
                        display: block;
                    }
                }
                img {
                    height: 35px;
                    width: 35px;                
                }
            }
        }
        .navbar-nav {
            align-items: flex-start;
            display: none;
            opacity: 0;
            &.active {
                display: block;
                opacity: 1;
            }
            li {
                width: 100%;
                .nav-link {
                    font-family: "Montserrat", serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    color: #f3f1c4;
                    padding: 30px 0 24px 0;
                    width: 100%;
                    text-align: center;
                }
            }

        }
    }
    #navbar {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    }
    .intro {
        &::after {
            content: none;
        }
        &.image-container {
            height: 100vh;
        }
        .img-oblique-container {
            top: 110px;
            height: 70vh;
            width: 40vh;
        }
        .intro-text {
            top: 7vh;
            padding: 0 3vh;
            height: 95vh;
            h2 {
                color: #f4fcff;
                font-size: 20px;
                &:nth-child(3) {
                    font-size: 16px;
                }
            }
        }
    }
    .our-story-container {
        padding: 80px 30px 50px 30px;
        text-align: center;
        h5 {
            margin-bottom: 40px;
        }
        p {
            text-align: justify;
        }
    }
    .location-container {
        padding: 0;
        .reception-container {
            flex-direction: column;
            &:nth-child(2) {
                flex-direction: column;
                .reception-text {
                    padding: 50px !important;
                }
            }
            .reception-text {
                padding: 50px !important;
            }
        }
    }
    .countdown-container {
        .spn-save-date {
            &::before {
                content: '';
                position: absolute;
                top: 35px;
                left: -60px;
                width: 50px;
                height: 1px;
                background-color: #d0a146;
            }
            &::after {
                content: '';
                position: absolute;
                top: 35px;
                right: -60px;
                width: 50px;
                height: 1px;
                background-color: #d0a146;
            }
            .save-date {
                height: 70px !important;
            }
        }


    }
    .gift-container {
        max-width: 100%;
        padding-bottom: 100px;
        display: block;
        padding-top: 100px;
        margin: 0;
        &::after {
            width: 100%;
            height: 100%;
        }
        .text-gift-container  {
            right: 0;
            padding: 50px 30px 50px 50px;
            width: 85%;
            margin-left: auto;
            min-width: auto;
        }
    }
    .entourage-container {
        .entourage-background {
            .txt-entourage-title {
                width: 300px;
                height: 100px;
                top: 60px;
            }
            .guest-list-container {
                padding: 60px 0;
                .one-list, .two-list {
                    text-align: center;
                    .guest-title {
                        font-size: 16px;
                    }
                    .guest-name {
                        font-size: 14px;
                        text-align: center;
                        word-wrap: break-word;
                        white-space:pre-wrap;
                    }
                }
            }
        }
        .flower {
            &.top-left,
            &.bottom-right {
                width: 250px;
            }
        }
        .ent-girl {
            height: 200px;
            &.bottom-left {
                bottom: 0;
                left: 0;
            }
        }
        .ent-boy  {
            height: 200px;
            &.bottom-left {
                bottom: 0;
                left: 50px;
            }
        }
    }
}