body {
    background-color: #e8e4dd;
}
.page-wrapper, #root {
  width: 100%;
}
.spacer {
  height: 100vh; /* To allow scrolling */
}
.image-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    background: #e8e4dd;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    .header-text-container {
        position: absolute;
        z-index: 999;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-bottom: 100px;
        h5 {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            color: #ede8e1;
            margin-bottom: 25px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
        }
        .RSVP-link {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            background-color: rgba(214, 209, 196, 1);
            transition-duration: 0.5s;
            transition-property: background-color;
            color: #0d1b21;
            font-size: 12px;
            padding: 8px 50px;
            &:hover, &:active, &:visited, &:focus, &.active  {
                color: #000000 !important;
                background-color: rgb(184, 179, 168) !important;
                font-style: normal !important;
            }
        }
    }
    /**img {
        filter:  hue-rotate(2deg) brightness(75%) saturate(200%);
    }*/
}
.zoom-image {
    width: 115%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    will-change: transform;
}
.text-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: auto;
    margin-top: 10%;
    padding: 0 10%;
    .text-title {
        font-family: 'woodley';
        font-weight: normal;
        font-size: 10em;
        color: #003026;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .separator {
            display: block;
            line-height: 0;
            position: relative;
            width: 70%;
            text-align: center;
            font-size: 14vh;
        }
    }
}
.RSVP-container {
    width: 100%;
    .rsvp-text-container {
        padding: 100px 0;
        text-align: center;
        h2 {
            font-family: 'Woodley';
            font-size: 9em;
            color: #f7f6e1;
            text-align: center;
            margin: 0;
        }
        p.separator {
            font-family: 'Roboto';
            font-size: 3em;
            color: #e7ae8f;
            text-align: center;
               &::before {
                content: "";
                position: absolute;
                left: 36%;
                top: 50%;
                width: 100px;
                height: 2px;
                background-color: #e7ae8f;;
            }
            &::after {
                content: "";
                position: absolute;
                right: 36%;
                top: 50%;
                width: 100px;
                height: 2px;
                background-color: #e7ae8f;;
            }
        }
        p.date-typing {
            text-align: center;
            font-size: 1.2em;
        }
        a.rsvp-link {
            margin: 50px auto 100px auto ;
            padding: 13px 25px;
            border: 1px solid #f3f1c4;
            display: inline-block;
        }
        p.desc {
            padding: 0 100px;
        }
    }
}
.navbar-light {
    background-color: #0d1b21 !important;
    .-mobile {
        display: none;
        img {
            height: 55px;
        }
    }
    .navbar-collapse {
        align-items: center;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .nav-link {
            font-family: "Montserrat", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 10px;
            color: #f3f1c4;
            &:hover, &:active, &:visited, &:focus, &.active  {
                color: #9f9d78;
            }
        }
        .navbar-brand {
            img {
                height: 55px;
            }
        }
    }
}
#navbar {
    position: -webkit-sticky;
    position: sticky ;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}
.intro {
    padding: 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: #e8e4dd;
        z-index: 1;
        height: 33vh;
    }
    &.image-container {
        height: 100vh;
        width: 100% !important;
    }
    .img-oblique-container {
        position: absolute;
        top: 50px;
        height: 80vh;
        margin: 0 auto;
        border-radius: 500px;
        overflow: hidden;
        z-index: 10;
        img {
            height: 100%;
            top: 0;
            transform: scale(1.5);
            transform-origin:197px 377px;
        }
    }
    .intro-text {
        position: absolute;
        top: 18vh;
        width: 100%;
        padding: 0 18vh;
        display: flex;
        justify-content: space-between;
        height: 57vh;
        z-index: 20;
        h2 {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            font-size: 35px;
            text-transform: uppercase;
            color: #cbcbcb;
            &:nth-child(3) {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                text-align: right;
                font-size: 24px;
                padding-bottom: 50px;
                text-transform:initial;
            }
        }
    }
}
.our-story-container {
    padding: 0 50px 50px 50px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    h1 {
        font-size: 30px;
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: #0d1b21;
    }
    h5 {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: #0d1b21;
        margin-bottom: 25px;
    }
    p {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        color: #0d1b21;
        text-align: justify;
        font-size: 14px;
    }
}
.location-container {
    .reception-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        iframe {
            max-width: 100%;
            border:0;
        }
        &:nth-child(2) {
            flex-direction: row-reverse;
            .reception-text {
                padding: 50px 50px 50px 0 !important;
            }
        }
        .reception-text {
            padding: 50px;
            h1 {
            font-size: 30px;
            font-family:  'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            color: #f3f1c4;
            }
            h5 {
                font-family: 'Antic Didone';
                font-weight: 600;
                font-style: normal;
                text-transform: uppercase;
                color: #f3f1c4;
                margin-bottom: 25px;
            }
            p {
                font-family:  'Antic Didone';
                font-weight: 600;
                font-style: normal;
                color: #f3f1c4;
                font-size: 14px;
            }
            img.qr-code {
                width: 110px;
                height: 110px;
            }
        }
    }
}
.slider-container {
    .slick-next, .slick-prev {
        display: none !important;
    }
    .slick-dots {
        display: none !important;
    }
    .slick-slide {
        width: 250px !important;
        height: 50vh;
        overflow: hidden;
        div {
            height: 50vh;
        }
        img {
            width: 98%;
            height: 98%;
            object-fit: cover;
        }
    }
}
.countdown-container {
    max-width: 600px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .flower {
        object-fit: cover;
        height: 130px;
        transform: rotate(-89deg);
    }
    .spn-save-date {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 40px;
            left: -100px;
            width: 80px;
            height: 2px;
            background-color: #d0a146;
        }
        &::after {
            content: '';
            position: absolute;
            top: 40px;
            right: -100px;
            width: 80px;
            height: 2px;
            background-color: #d0a146;
        }
        .save-date {
            height: 100px;
        }
    }
    .date {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
    }
    .date-time {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        span {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-align: center;
            font-size: 50px;
            color: #0d1b21;
            p {
                font-family: 'Antic Didone';
                font-weight: 600;
                font-style: normal;
                text-align: center;
                font-size: 16px;
                color: #0d1b21;
            }
        }
    }
}
.mp3-container {
    max-width: 400px;
    margin: 100px auto;
    h3 {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-align: center;
        font-size: 40px;
        color: #0d1b21;
    }
    p {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-align: center;
        font-size: 16px;
        color: #0d1b21;
    }
}
.wedding-mp3 {
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 0 0 0 0 !important;
    background-color: transparent !important;
    .rhap_current-time,
    .rhap_time {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
    }
    .rhap_progress-bar,
    .rhap_progress-indicator,
    .rhap_progress-filled,
    .rhap_download-progress,
    .rhap_volume-indicator {
        background-color: #0d1b21 !important;
    }
    .rhap_repeat-button,
    .rhap_main-controls-button,
    .rhap_button-clear {
        color: #0d1b21;
    }
    .rhap_additional-controls,
    .rhap_volume-controls {
        display: none;
    }
    .rhap_main-controls {
        margin: 0 auto;
    }
}
.gift-container {
    .gift-img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
}