body {
    background-color: #e8e4dd;
    -webkit-overflow-scrolling: touch;
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}
.page-wrapper, #root {
  width: 100%;
}
.spacer {
  height: 100vh; /* To allow scrolling */
}
.rsvp-container-zoom {
    .RSVP-link {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        background-color: #0d1b21 ;
        transition-duration: 0.5s;
        transition-property: background-color;
        color: #0d1b21;
        font-size: 12px;
        padding: 12px 50px;
        position: absolute;
        bottom: -65px;
        left: 50%;
        text-align: left;
        transform: translate(-50%, -50%);
        background-color: rgba(214,209,196,1);
        &:hover, &:active, &:visited, &:focus, &.active  {
            color: #0d1b21 !important;
            background-color: rgba(214,209,196,1);
            font-style: normal !important;
        }
        /**&::after {
            content: "";
            position: absolute;
            top: 5px;
            border: 1px solid #f3f1c4 !important;
            height: 42px;
            width: 128px;
            left: 8px;
            z-index: 1;
        }*/
    }
}
.image-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    background: #e8e4dd;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    .header-text-container {
        position: absolute;
        z-index: 999;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding-bottom: 100px;
        h5 {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            color: #ede8e1;
            margin-bottom: 25px;
            text-align: center;
            font-size: 14px;
            line-height: 1.5;
        }
        .RSVP-link {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            background-color: rgba(214, 209, 196, 1);
            transition-duration: 0.5s;
            transition-property: background-color;
            color: #0d1b21;
            font-size: 12px;
            padding: 8px 50px;
            &:hover, &:active, &:visited, &:focus, &.active  {
                color: #000000 !important;
                background-color: rgb(184, 179, 168) !important;
                font-style: normal !important;
            }
        }
    }
    /**img {
        filter:  hue-rotate(2deg) brightness(75%) saturate(200%);
    }*/
}
.zoom-image {
    width: 115%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    will-change: transform;
}
.text-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: auto;
    margin-top: 10%;
    padding: 0 10%;
    .text-title {
        font-family: 'woodley';
        font-weight: normal;
        font-size: 10em;
        color: #003026;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .separator {
            display: block;
            line-height: 0;
            position: relative;
            width: 70%;
            text-align: center;
            font-size: 14vh;
        }
    }
}
.RSVP-container {
    width: 100%;
    .rsvp-text-container {
        padding: 100px 0;
        text-align: center;
        h2 {
            font-family: 'Woodley';
            font-size: 9em;
            color: #f7f6e1;
            text-align: center;
            margin: 0;
        }
        p.separator {
            font-family: 'Roboto';
            font-size: 3em;
            color: #e7ae8f;
            text-align: center;
               &::before {
                content: "";
                position: absolute;
                left: 36%;
                top: 50%;
                width: 100px;
                height: 2px;
                background-color: #e7ae8f;;
            }
            &::after {
                content: "";
                position: absolute;
                right: 36%;
                top: 50%;
                width: 100px;
                height: 2px;
                background-color: #e7ae8f;;
            }
        }
        p.date-typing {
            text-align: center;
            font-size: 1.2em;
        }
        a.rsvp-link {
            margin: 50px auto 100px auto ;
            padding: 13px 25px;
            border: 1px solid #f3f1c4;
            display: inline-block;
        }
        p.desc {
            padding: 0 100px;
        }
    }
}
.navbar-light {
    background-color: #002a1e !important;
    .-mobile {
        display: none;
        img {
            height: 55px;
        }
    }
    .navbar-collapse {
        align-items: center;
    }
    .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        .nav-link {
            font-family: "Montserrat", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 10px;
            color: #f3f1c4;
            padding-right: .5rem;
            padding-left: .5rem;
            &:hover, &:active, &:visited, &:focus, &.active  {
                color: #9f9d78;
            }
        }
        .navbar-brand {
            img {
                height: 55px;
            }
        }
    }
}
#navbar {
    position: -webkit-sticky;
    position: sticky ;
    position: -moz-sticky;
    position: -ms-sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    &.highlight {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 10001;
    }
}
.intro {
    padding: 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: #e8e4dd;
        z-index: 1;
        height: 33vh;
    }
    &.image-container {
        height: 100vh;
        width: 100% !important;
    }
    .img-oblique-container {
        position: absolute;
        top: 50px;
        height: 80vh;
        margin: 0 auto;
        border-radius: 500px;
        overflow: hidden;
        z-index: 10;
        img {
            height: 100%;
            top: 0;
            transform: scale(1.5);
            transform-origin:197px 377px;
        }
    }
    .intro-text {
        position: absolute;
        top: 18vh;
        width: 100%;
        padding: 0 18vh;
        display: flex;
        justify-content: space-between;
        height: 57vh;
        z-index: 20;
        h2 {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            font-size: 35px;
            text-transform: uppercase;
            color: #cbcbcb;
            &:nth-child(3) {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                text-align: right;
                font-size: 24px;
                padding-bottom: 50px;
                text-transform:initial;
            }
        }
    }
}
.our-story-container {
    padding: 0 50px 50px 50px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    h1 {
        font-size: 30px;
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: #0d1b21;
    }
    h5 {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        color: #0d1b21;
        margin-bottom: 25px;
    }
    p {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        color: #0d1b21;
        text-align: justify;
        font-size: 14px;
    }
}
.location-container {
    .reception-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        iframe {
            max-width: 100%;
            border:0;
        }
        &:nth-child(2) {
            flex-direction: row-reverse;
            .reception-text {
                padding: 50px 50px 50px 0 !important;
            }
        }
        .reception-text {
            padding: 50px;
            h1 {
            font-size: 30px;
            font-family:  'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-transform: uppercase;
            color: #f3f1c4;
            }
            h5 {
                font-family: 'Antic Didone';
                font-weight: 600;
                font-style: normal;
                text-transform: uppercase;
                color: #f3f1c4;
                margin-bottom: 25px;
            }
            p {
                font-family:  'Antic Didone';
                font-weight: 600;
                font-style: normal;
                color: #f3f1c4;
                font-size: 14px;
            }
            img.qr-code {
                width: 110px;
                height: 110px;
            }
        }
    }
}
.slider-container {
    .slick-next, .slick-prev {
        display: none !important;
    }
    .slick-dots {
        display: none !important;
    }
    .slick-slide {
        width: 250px !important;
        height: 50vh;
        overflow: hidden;
        div {
            height: 50vh;
        }
        img {
            width: 98%;
            height: 98%;
            object-fit: cover;
        }
    }
}
.countdown-container {
    max-width: 600px;
    margin: 0 auto 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .flower {
        object-fit: cover;
        height: 130px;
        transform: rotate(-89deg);
    }
    .spn-save-date {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 40px;
            left: -100px;
            width: 80px;
            height: 2px;
            background-color: #d0a146;
        }
        &::after {
            content: '';
            position: absolute;
            top: 40px;
            right: -100px;
            width: 80px;
            height: 2px;
            background-color: #d0a146;
        }
        .save-date {
            height: 100px;
        }
    }
    .date {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
    }
    .date-time {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        span {
            font-family: 'Antic Didone';
            font-weight: 600;
            font-style: normal;
            text-align: center;
            font-size: 50px;
            color: #0d1b21;
            p {
                font-family: 'Antic Didone';
                font-weight: 600;
                font-style: normal;
                text-align: center;
                font-size: 16px;
                color: #0d1b21;
            }
        }
    }
}
.mp3-container {
    max-width: 400px;
    margin: 100px auto;
    h3 {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-align: center;
        font-size: 40px;
        color: #0d1b21;
    }
    p {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
        text-align: center;
        font-size: 16px;
        color: #0d1b21;
    }
}
.wedding-mp3 {
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 0 0 0 0 !important;
    background-color: transparent !important;
    .rhap_current-time,
    .rhap_time {
        font-family: 'Antic Didone';
        font-weight: 600;
        font-style: normal;
    }
    .rhap_progress-bar,
    .rhap_progress-indicator,
    .rhap_progress-filled,
    .rhap_download-progress,
    .rhap_volume-indicator {
        background-color: #0d1b21 !important;
    }
    .rhap_repeat-button,
    .rhap_main-controls-button,
    .rhap_button-clear {
        color: #0d1b21;
    }
    .rhap_additional-controls,
    .rhap_volume-controls {
        display: none;
    }
    .rhap_main-controls {
        margin: 0 auto;
    }
}
.gift-container {
    max-width: 800px;
    min-height: 640px;
    margin: 50px auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    &::after {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        width: 500px;
        height: 450px;
        background-image: url("https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/prenup-edited-100.JPG");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .text-gift-container {
        width: 400px;
        min-width: 400px;
        min-height: 300px;
        background: #ffffff;
        padding: 50px 50px;
        position: relative;
        /**transform: translate(-110px, 70px);*/
        h1 {
            font-size: 36px;
            font-family: 'Antic Didone';
            font-weight: 600;
        }
        p {
            font-family: 'Antic Didone';
            font-size: 14px;
            color: #0d1b21;
        }
        .gcash {
            height: 50px;
            width: 50px;
            margin-bottom: 7px;
            margin-right: 10px;
        }
        input {
            visibility: collapse;
            position: absolute;
        }
        .btn-copy-number {
            background-color: #002a1e;
            color: #ebe9bf;
            font-family: 'Antic Didone';
            font-weight: 600;
            font-size: 11px;
            border-radius: 0px;
            padding: 8px 10px;
            width: 50px;
            &:active, &:hover, &:visited, &:focus, &:target {
                color: #ebe9bf;
                background-color: #011f17;
            }
        }
        .bank-cover {
            display: flex;
            flex-direction: column;
            p {
                font-family: 'Antic Didone';
                font-size: 13px;
                color: #0d1b21;
                background: #e9ecef;
                padding: 5px;
                margin-right: 10px;
            }
        }
        .bank {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
            .pnb {
                height: 50px;
                width: 50px;
                margin-right: 10px;
            }
        }
        .online-bank {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;
        }
    }
}
.entourage-container {
    position: relative;
    .entourage-background {
        text-align: center;
        /**mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 0%, transparent 200%);*/
        .txt-entourage-title {
            width: 450px;
            height: 140px;
            margin: 0 auto;
            position: relative;
            top: 50px;
            display: block;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-image: url("https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/bridal-entourage.png");
        }
        .btn-download-entourage {
            position: sticky;
            top: 100px;
            right: 20px;
            color: #f3f1c4 !important;
            float: right;
            background: #002a1e;
            font-size: 12px;
            text-transform: capitalize;
            padding: 10px;
            text-decoration: none !important;
            z-index: 10;
            &:hover,
            &:active,
            &:focus {
                text-decoration: none !important;
            }
        }
        .guest-list-container {
            z-index: 100;
            padding: 100px 0;
            .two-list-guest {
                display: flex;
                width: 100%;
                justify-content: space-evenly;
            }
            .two-list {
                margin-bottom: 65px !important;
                display: flex;
                justify-content: space-evenly;
                .guest-title {
                    text-align: center;
                    position: absolute !important;
                }
                .guest-name {
                    margin-top: 25px;
                }
            }
            .one-list, .two-list {
                margin-bottom: 50px;
                .guest-title {
                    position:unset;
                    font-family: 'Antic Didone';
                    font-weight: 600;
                    font-style: normal;
                    font-size: 12px;
                    color: #698079 !important;
                    text-transform: uppercase;
                    margin: 0;
                    /***.img-title {
                        margin: 0 auto;
                        transform: translate(0, 20px);
                        width: 300px;
                        height: 110px;
                        object-fit: contain;
                    }*/
                }
                .guest-name {
                    font-family: 'Antic Didone';
                    font-weight: 600;
                    font-style: normal;
                    font-size: 18px;
                    color: #002a1e !important;
                    text-transform: capitalize;
                    word-wrap: break-word;
                    white-space:pre-wrap;
                }
            }
        }
    }
    .flower {
        height: 300px;
        width: 500px;
        overflow: hidden;
        background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/flower-top.png');
        background-size: contain;
        background-repeat: no-repeat;
        &.top-left {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(0deg) translate(0, 0);
            z-index: 2;
        }
        &.bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(180deg) translate(0, 0);
            z-index: 2;
        }
    }
    .ent-girl {
        height: 280px;
        width: 150px;
        background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/dress-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        &.bottom-left {
            position: absolute;
            bottom: 50px;
            left: 20px;
            transform: rotate(0) translate(0, 0);
            z-index: 3;
        }
    }
    .ent-boy {
        height: 280px;
        width: 150px;
        background-image:url('https://raw.githubusercontent.com/tabiblia/images/refs/heads/main/suit-1.png');
        background-size: contain;
        background-repeat: no-repeat;
        &.bottom-left {
            position: absolute;
            bottom: 50px;
            left: 130px;
            transform: rotate(0) translate(0, 0);
            z-index: 2;
        }
    }
}


